.App {
  font-family: Plus Jakarta Sans;
}
button {
  all: unset;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  border-radius: 8px;
  padding: 0 24px;
  background: #6153cd;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
}
